:root {
  --mainColor: #02283e;
  --secondColor: #0f547b;
  --thirdColor: #569ec7;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--mainColor);
}

.tron p {
  opacity: 0;
}

.jumbo {
  margin-top: 30px;
  display: flex;
}

.jumbo img {
  border-radius: 50%;
  width: 40vh;
  margin: 0px auto;
}

.caption h1 {
  color: var(--thirdColor);
  text-align: center;
  margin-top: 9px;
  font-size: 3rem;
}

.caption p {
  color: white;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1px;
}

.project h1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
  color: var(--thirdColor);
}

.gambar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gambar img {
  width: 60%;
}

.project p {
  font-size: 1.5rem;
  color: var(--thirdColor);
  text-align: center;
}

.tbl button {
  border-radius: 15px;
  background-color: var(--thirdColor);
  width: 300px;
  height: 50px;
  margin-top: 55px;
  margin-bottom: 55px;
  cursor: pointer;
  border: none;
}

.tbl p {
  font-size: 18px;
  color: var(--mainColor);
  font-weight: 800;
}

@media screen and (max-width: 576px) {
  .caption p {
    color: white;
    text-align: center;
    font-size: 12px;
  }
  .project h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    text-align: center;
    color: var(--thirdColor);
  }
  .gambar img {
    width: 90%;
    gap: 5px;
  }
  .project p {
    text-align: center;
    font-size: 15px;
  }
}
