:root {
  --mainColor: #02283e;
  --secondColor: #0f547b;
  --thirdColor: #569ec7;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  background-color: var(--mainColor);
  overflow-x: hidden;
  color: white;
}

.pen {
  color: white;
  text-align: center;
}

.pen h1 {
  margin-top: 2rem;
  font-size: 3em;
  font-weight: 800;
  color: var(--secondColor);
}
.pen p {
  font-size: 3rem;
  margin-top: 1rem;
  font-weight: 800;
  color: var(--secondColor);
}

.latar {
  margin-top: 2em;
  text-align: center;
}

.latar h1 {
  font-weight: 800;
  text-transform: uppercase;
}

.latar p {
  font-weight: 800;
  font-size: 1em;
  margin-top: 1rem;
  text-align: justify;
}

.umum h1 {
  margin-left: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 2em;
}

.umum p {
  margin-left: 2.5rem;
  font-weight: 600;
}

.tujuan {
  margin-top: 2em;
}

.tujuan .tuj h1 {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.tujuan h1 {
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-top: 2rem;
}

.tujuan p {
  margin-left: 2.5rem;
  font-weight: 600;
}

.manfaat h1 {
  text-align: center;
  margin-top: 25px;
}

.manfaat h2 {
  font-weight: 800;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-top: 2rem;
}

.manfaat p {
  margin-left: 2.5rem;
  font-weight: 600;
}

.manfaat h1 {
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.but button {
  border-radius: 15px;
  background-color: var(--thirdColor);
  width: 200px;
  height: 50px;
  margin-top: 100px;
  border: none;
}

.but p {
  font-size: 18px;
  color: var(--mainColor);
  font-weight: 800;
}

@media screen and (max-width: 576px) {
  .pen p {
    font-size: 1rem;
  }
  .latar p {
    font-size: 10px;
    padding: 0px 10px;
  }
  .umum p {
    font-size: 12px;
    margin-left: 10px;
  }
  .tujuan p {
    font-size: 12px;
    margin-left: 10px;
  }
  .tujuan .tuj h1 {
    margin-left: 0px;
  }
  .manfaat h1 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
  }
  .manfaat p {
    font-size: 12px;
    margin-left: 10px;
  }
  .but button {
    border-radius: 8px;
    background-color: var(--thirdColor);
    width: 150px;
    height: 35px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
  }
}
